html, body {
    margin: 0;
    height: 100dvh;
}

#prompt{
    width: 50vw;
    height: 100%;
}

.prompt{
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
}

#chat{
    overflow-y: scroll;
    height: 500px;
}

textarea {
    padding: 12px;
}

.evry {
    height: 100vh;
}

#chat-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 9rem);
}